@model EmployeeRecordLINQVersion.Models.Employee.Employee;

@{
    ViewData["Title"] = "Details Of Employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container text-justify">
        <img src="~/images/unknown person.jpg" />
        <br />
        <label>Name:</label>
        <label>@Model.Name</label>
        <br />
        <label>Gender:</label>
        <label>@Model.Gender</label>
        <br />
        <label>Department:</label>
        <label>@Model.Department</label>
        <br />
        <label>City:</label>
        <label>@Model.City</label>
        <br />
        <a asp-action="Index">Back to Index</a>
        <br />
        <a asp-action="Create">Create a new Employee</a>
        <br />
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit Employee's Details</a>
    </div>
</body>
</html>
